@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar&display=swap");
@font-face {
  font-family: "Insaniburger with Cheese";
  src: url("/assets/Insanibc.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-main: #e5e5e5;
  --background-header: #292929;
  --background-banner-location: #14100c;
  --laranja-destaque: #f8af35;
  --amarelo-separador-banner: #ffd413;
  --white: #ffffff;
  --black: #000000;
  --font-texto-bebas: "Bebas Neue", sans-serif;
  --font-btn-titles: "Insaniburger with Cheese", sans-serif;
  --font--main: "Sigmar", sans-serif;
}

body {
  background-color: var(--background-main);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 38px 45px 98px;
}

.section__title {
  font-family: var(--font-btn-titles);
  font-size: 44px;
  font-weight: 400;
  letter-spacing: 1px;
}

.section__subtitle {
  font-family: var(--font-texto-bebas);
  font-size: 32px;
  font-weight: 400;
}

.section__title,
.section__subtitle {
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.281);
}

.menu__cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 900px));
  gap: 48px 30px;
  width: 100%;
}

.card {
  width: 100%;
  max-width: 900px;
  text-transform: uppercase;
  background-color: var(--background-header);
  border-radius: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 40px 0;
}

.card:nth-child(1) {
  background-image: url(../assets/hamburguer-original-1.png);
}

.card:nth-child(2) {
  background-image: url(../assets/hamburguer-cheese-classic-2.png);
}

.card:nth-child(3) {
  background-image: url(../assets/hamburguer-bbq-bacon-3.png);
}

.card:nth-child(4) {
  background-image: url(../assets/hamburguer-bacon-beef-4.png);
}

.card__title {
  color: var(--laranja-destaque);
  font-size: 45px;
}

.card__title,
.card__price {
  font-family: var(--font-btn-titles);
}

.card__title,
.card__ingredients,
.card__price {
  margin-left: auto;
  margin-right: 53px;
  width: fit-content;
}

.card__ingredients {
  font-family: var(--font-texto-bebas);
  text-align: right;
  margin-top: 8px;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
}

.card__price {
  background-color: var(--laranja-destaque);
  font-size: 45px;
  line-height: 50px;
  border-radius: 16px;
  margin-top: 28px;
  padding: 4px 12px;
}

.card__ingredients,
.card__price {
  color: var(--white);
}

.drinks {
  border: 4px solid var(--background-banner-location);
  border-radius: 44px;
  padding: 44px 120px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.drinks__title {
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
  color: var(--laranja-destaque);
}

.drinks__details {
  font-size: 36px;
  line-height: 44px;
  font-weight: 400;
  color: var(--background-banner-location);
}

.drinks__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.drinks__items .drinks__details:nth-child(2),
.drinks__items .drinks__details:nth-child(5),
.drinks__items .drinks__details:nth-child(8),
.drinks__price .drinks__details:nth-child(2),
.drinks__price .drinks__details:nth-child(5),
.drinks__price .drinks__details:nth-child(8) {
  margin-top: 24px;
}

.drinks__items .drinks__details:nth-child(2):before,
.drinks__items .drinks__details:nth-child(5):before,
.drinks__items .drinks__details:nth-child(8):before {
  content: "";
  background-color: var(--black);
  height: 1px;
  width: 100%;
  position: absolute;
  margin-top: -12px;
}

.drinks__title,
.drinks__details {
  font-family: var(--font-texto-bebas);
  text-transform: uppercase;
}

.drinks__items,
.drinks__price {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location {
  background-color: var(--background-banner-location);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 20px;
}

.location .section__title,
.location .section__subtitle {
  color: var(--white);
}

.location .section__title {
  font-family: var(--font-btn-titles);
  font-weight: 400;
  letter-spacing: 1px;
}

.location .section__subtitle {
  font-weight: 400;
  margin-bottom: 15px;
}

.location iframe {
  max-width: calc(100% - 40px);
  margin: auto;
  border-radius: 36px;
  padding: 20px;
}

.location__address {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.footer {
  background-color: var(--background-banner-location);
}

.footer .section__title-footer {
  font-family: var(--font-btn-titles);
  color: var(--white);
  font-size: 40px;
  font-weight: 400;
  margin-top: 20px;
}

.footer .section__subtitle-footer {
  font-family: var(--font-texto-bebas);
  color: var(--white);
  font-size: 28px;
  margin-top: 8px;
}

.footer .section__title-footer span,
.nav__slogan .header__destaque {
  color: var(--laranja-destaque);
  letter-spacing: 1px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
  padding: 20px 50px;
}

.footer__button {
  font-family: var(--font-btn-titles);
  background-color: var(--laranja-destaque);
  color: var(--white);
  letter-spacing: 1px;
  transition: all 0.4s;
  font-size: 32px;
  border-radius: 80px;
  border: none;
  padding: 8px 24px;
  text-align: center;
}

.footer__button:hover {
  transform: scale(1.08);
}

.hero-header {
  background-color: var(--background-banner-location);
}

.hero-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.hero-header__content {
  padding: 186px 100px;
  width: 100%;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 28px;
}

.hero-header p,
.hero-header h1 {
  color: var(--white);
  text-align: left;
}

.hero-header img {
  width: 50%;
  max-width: 100%;
  margin-left: -150px;
  margin-top: auto;
  padding-top: 80px;
}

.hero-header span {
  color: var(--laranja-destaque);
}

.hero-header h1 {
  font-size: 60px;
  line-height: 50px;
  letter-spacing: 1px;
}

.hero-header__menu-button {
  font-family: var(--font-btn-titles);
  background-color: var(--laranja-destaque);
  color: var(--white);
  letter-spacing: 1px;
  border-radius: 26px;
  padding: 6px 16px;
  transition: all 0.4s;
}

.hero-header__menu-button:hover {
  transform: scale(1.08);
}

@media screen and (max-width: 1535px) {
  .hero_header img {
    width: 100%;
  }

  .hero-header__content {
    padding: 70px;
  }

  .hero-header p {
    font-size: 28px;
  }
}

@media screen and (max-width: 1279px) {
  .hero-header h1 {
    font-size: 46px;
  }

  .hero-header p {
    font-size: 22px;
  }

  .hero-header img {
    margin-top: 0;
    padding-top: 60px;
    width: 50%;
  }

  .hero-header__content {
    padding-left: 80px;
  }
}

@media screen and (max-width: 1023px) {
  .hero-header__container {
    flex-direction: column;
  }

  .hero-header__content {
    padding-left: 45px;
    padding-top: 30px;
  }

  .hero_header h1 {
    font-size: 36px;
  }

  .hero-header img {
    width: 50%;
    margin-left: auto;
    margin-top: -250px;
  }

  .drinks {
    border-radius: 34px;
    padding: 24px 80px;
    max-width: 550px;
    min-width: 450px;
  }

  .menu {
    padding: 20px 24px 48px;
    gap: 24px;
  }

  .menu__cards {
    justify-items: center;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .section__title {
    font-size: 32px;
    line-height: 36px;
  }

  .card {
    padding: 20px 0;
    max-width: 700px;
  }

  .card__title,
  .card__price,
  .section__subtitle {
    font-size: 20px;
    line-height: 24px;
  }

  .card__title,
  .card__ingredients,
  .card__price {
    margin-right: 24px;
  }

  .card__ingredients {
    font-size: 16px;
    line-height: 20px;
  }

  .drinks {
    padding: 15px 30px;
  }

  .drinks__title {
    font-size: 24px;
    line-height: 28px;
  }

  .drinks__details {
    font-size: 16px;
    line-height: 20px;
  }

  .location__address {
    font-size: 14px;
    line-height: 20px;
  }

  .location iframe {
    max-width: calc(100% - 40px);
    max-height: 400px;
    border-radius: 36px;
    padding: 10px;
  }

  .footer__container {
    justify-content: space-around;
  }

  .footer .section__title-footer {
    font-size: 30px;
    margin-top: 12px;
  }

  .footer .section__subtitle-footer {
    font-size: 22px;
    margin-top: 4px;
  }

  .footer__button {
    font-size: 30px;
    border-radius: 40px;
    padding: 8px 18px;
  }
}

@media screen and (max-width: 796px) {
  .drinks {
    border-radius: 28px;
    padding: 18px 60px;
    max-width: 550px;
    min-width: 350px;
  }

  .footer__container {
    justify-content: space-around;
  }

  .footer .section__title-footer {
    font-size: 26px;
    margin-top: 6px;
  }

  .footer .section__subtitle-footer {
    font-size: 20px;
    margin-top: 4px;
  }

  .footer__button {
    font-size: 22px;
    border-radius: 40px;
    padding: 14px 20px;
  }
}
