@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar&display=swap");
@font-face {
  font-family: "Insaniburger with Cheese";
  src: url("/assets/Insanibc.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-main: #e5e5e5;
  --background-header: #292929;
  --background-banner-location: #14100c;
  --laranja-destaque: #f8af35;
  --amarelo-separador-banner: #ffd413;
  --white: #ffffff;
  --black: #000000;
  --font-texto-bebas: "Bebas Neue", sans-serif;
  --font-btn-titles: "Insaniburger with Cheese", sans-serif;
  --font--main: "Sigmar", sans-serif;
}

body {
  background-color: var(--background-main);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 38px 45px 98px;
}

.section__title {
  font-size: 44px;
  font-weight: 700;
}

.section__subtitle {
  font-size: 32px;
  font-weight: 400;
}

.section__title,
.section__subtitle {
  font-family: var(--font-texto-bebas);
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.281);
}

.menu__cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 900px));
  gap: 48px 30px;
  width: 100%;
}

.card {
  width: 100%;
  max-width: 900px;
  text-transform: uppercase;
  background-color: var(--background-header);
  border-radius: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 40px 0;
}

.card:nth-child(1) {
  background-image: url(../assets/hamburguer-original-1.png);
}

.card:nth-child(2) {
  background-image: url(../assets/hamburguer-cheese-classic-2.png);
}

.card:nth-child(3) {
  background-image: url(../assets/hamburguer-bbq-bacon-3.png);
}

.card:nth-child(4) {
  background-image: url(../assets/hamburguer-bacon-beef-4.png);
}

.card__title {
  color: var(--laranja-destaque);
  font-size: 45px;
}

.card__title,
.card__price {
  font-family: var(--font-btn-titles);
}

.card__title,
.card__ingredients,
.card__price {
  margin-left: auto;
  margin-right: 53px;
  width: fit-content;
}

.card__ingredients {
  font-family: var(--font-texto-bebas);
  text-align: right;
  margin-top: 8px;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
}

.card__price {
  background-color: var(--laranja-destaque);
  font-size: 45px;
  line-height: 50px;
  border-radius: 16px;
  margin-top: 28px;
  padding: 4px 12px;
}

.card__ingredients,
.card__price {
  color: var(--white);
}

.drinks {
  border: 4px solid var(--background-banner-location);
  border-radius: 44px;
  padding: 44px 220px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.drinks__title {
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
  color: var(--laranja-destaque);
}

.drinks__details {
  font-size: 36px;
  line-height: 44px;
  font-weight: 400;
  color: var(--background-banner-location);
}

.drinks__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.drinks__items .drinks__details:nth-child(2),
.drinks__items .drinks__details:nth-child(5),
.drinks__items .drinks__details:nth-child(8),
.drinks__price .drinks__details:nth-child(2),
.drinks__price .drinks__details:nth-child(5),
.drinks__price .drinks__details:nth-child(8) {
  margin-top: 24px;
}

.drinks__items .drinks__details:nth-child(2):before,
.drinks__items .drinks__details:nth-child(5):before,
.drinks__items .drinks__details:nth-child(8):before {
  content: "";
  background-color: var(--black);
  height: 1px;
  width: 100%;
  position: absolute;
  margin-top: -12px;
}

.drinks__title,
.drinks__details {
  font-family: var(--font-texto-bebas);
  text-transform: uppercase;
}

.drinks__items,
.drinks__price {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location {
  background-color: var(--background-banner-location);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-transform: uppercase;
  padding: 38px 0;
}

.location .section__title,
.location .section__subtitle {
  color: var(--white);
}

.location .section__subtitle {
  margin-bottom: 15px;
}

.location iframe {
  max-width: calc(100% - 40px);
  margin: auto;
  border-radius: 50px;
  padding: 20px;
}

.location__address {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .drinks,
  .section__title,
  .section__subtitle {
    max-width: 450px;
    min-width: 300px;
  }

  .menu {
    padding: 20px 24px 48px;
    gap: 24px;
  }

  .menu__cards {
    justify-items: center;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .section__title {
    font-size: 32px;
    line-height: 36px;
  }

  .card {
    padding: 20px 0;
    max-width: 700px;
  }

  .card__title,
  .card__price,
  .section__subtitle {
    font-size: 20px;
    line-height: 24px;
  }

  .card__title,
  .card__ingredients,
  .card__price {
    margin-right: 24px;
  }

  .card__ingredients {
    font-size: 16px;
    line-height: 20px;
  }

  .drinks {
    padding: 15px 30px;
  }

  .drinks__title {
    font-size: 24px;
    line-height: 28px;
  }

  .drinks__details {
    font-size: 16px;
    line-height: 20px;
  }

  .location__address {
    font-size: 14px;
    line-height: 20px;
  }
}
