@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar&display=swap");
@font-face {
  font-family: "Insaniburger with Cheese";
  src: url("/assets/Insanibc.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-main: #e5e5e5;
  --background-header: #292929;
  --background-banner-location: #14100c;
  --laranja-destaque: #f8af35;
  --amarelo-separador-banner: #ffd413;
  --white: #ffffff;
  --black: #000000;
  --font-texto-bebas: "Bebas Neue", sans-serif;
  --font-btn-titles: "Insaniburger with Cheese", sans-serif;
  --font--main: "Sigmar", sans-serif;
}

body {
  background-color: var(--background-main);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 38px 45px 98px;
}

.menu__cards {
  display: grid;
  grid-template-columns: repeat(2, minmax (auto, 900px));
  gap: 48px 30px;
}

.card {
  width: 100%;
  max-width: 900px;
  height: 450px;
  text-transform: uppercase;
  background-color: #292929;
  border-radius: 60px;
  background-size: cover;
  background-repeat: no-repeat;
}

.card:nth-child(1) {
  background-image: url(../assets/hamburguer-original-1.png);
}

.card__title {
  color: var(--laranja-destaque);
  font-size: 45px;
}

.card__title,
.card__price {
  font-family: var(--font-btn-titles);
}

.card__title,
.card__ingredients,
.card__price {
  margin-left: auto;
  margin-right: 53px;
  width: fit-content;
}

.card__ingredients {
  font-family: var(--font-texto-bebas);
  text-align: right;
  margin-top: 8px;
}

.card__price {
  background-color: var(--laranja-destaque);
  font-size: 45px;
  line-height: 50px;
  border-radius: 16px;
  margin-top: 28px;
}

.card__ingredients,
.card__price {
  color: var(--white);
}
